<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <h1>Connexion</h1>
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label for="username">Nom d’utilisateur :</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Se connecter</button>
    </form>

    <!-- Lien vers le mot de passe oublié -->
    <p>
        <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
        <a href="{% url 'sign_in' %}">s'inscrire</a>
    </p>
</body>
</html>
